<header class="article__header">

	<h3 class="article__title"><a>{{post.post_type}} Title</a></h3>

</header> <!-- end article header -->

<section class="article__content">
	<p>This is the default archive template for an individual post, page, or custom post-type. If you are seeing this, it means you need to create a template file in the main directory of your theme called "items/{{post.post_type}}.twig".</p>

	<p>This feature allows you to easily create or modify a single template for a particular post-type to be used in archives and searches.</p>
</section> <!-- end article section -->
